//LOCAL
LOCAL_PRIVATE_KEY="1f84c95ac16e6a50f08d44c7bde7aff8742212fda6e4321fde48bf83bef266dc"
LOCAL_MNEMONIC="quiz allow ability pigeon try wire intact loud shock frown mail retreat"
LOCAL_0_URL='http://localhost:9500'

//DEVNET
DEVNET_PRIVATE_KEY=<YOUR_PRIVATE_KEY>
DEVNET_MNEMONIC=<YOUR_MNEMONIC_CODE>
DEVNET_0_URL='https://api.s0.b.hmny.io'
DEVNET_1_URL='https://api.s1.b.hmny.io'

//MAINNET
MAINNET_PRIVATE_KEY=<YOUR_PRIVATE_KEY>
MAINNET_MNEMONIC=<YOUR_MNEMONIC_CODE>
// Replace with SHARD1
MAINNET_1_URL='https://api.s1.t.hmny.io'

GAS_LIMIT=3321900
GAS_PRICE=1000000000